.anaPreview {
    background-color: #ffffff;
    width: 90%;
    padding: 20px;
    display: block;
    border-radius: 9px;
    border: 1px solid #f3f3f3;
    box-shadow: 0px 10px 10px rgb(0,0,0,0.3);
    transition: 0.2s ease;
    margin: 30px; 
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    position: relative;
}

.Icon, .Info {
    margin-left: 10px; 
    margin-right: 10px; 
}

.Icon {
    height: 100px;
    width: 100px; 
    border-radius: 100%; 
}


.check{
    position: absolute; 
    right: 14px;
    top: 20px; 
    margin-top: 0px;
}

.Info {
    width: 200px; 
}

.description{
    color: grey;
    padding-bottom: 6%;
    text-align: left;
}

.caption{
    text-align: left;
    font-size: 40px;
    font-weight: 600;
}

.Progress{
}

.Progress {
    width: 100%; 
    padding: 10px; 
}

.ProgressBar {
    height: 30px; 
}

.progressLabel{
    font-size: 30px;
    color: grey;
    font-weight: 200;
}

.Download {
    border: none;
    border-radius: 5px;
    cursor: pointer;
    background-color: #001628;
    color: #ffffff;
    margin-top: 20px;
   float: right; 
   padding: 3px 10px; 
}