* {
    font-family: 'Roboto';
}

.anaPreview {
    background-color: white;
    width: 90%;
    height: 200px;
    display: block;
    border-radius: 9px;
    border: 1px solid #f3f3f3;
    box-shadow: 0px 10px 10px rgb(0,0,0,0.3);
    transition: 0.2s ease;
    margin: 30px; 
}
.thumbnail {
    width: 100%;
    height: 100%;
}

.Icon {
    height: 100px;
    width: 100px; 
    border-radius: 5px; 
}
.image {
    height: 100%;
    width: 15%;
    float: left;
    padding-top: 2.5%;
}

.check{
    float: right;
    position: relative;
    top: -114px;
    right: 1%;
}

.info {
    float: left;
    height: 100%;
    width: 15%;
    padding-top: 1.5%;
    font-family: 'Roboto';
}

.description{
    color: grey;
    padding-bottom: 6%;
    text-align: left;
    font-family: 'Roboto';
}

.caption{
    text-align: left;
    font-size: 40px;
    font-weight: 600;
    font-family: 'Roboto';
}

.progress {
    float: left;
    width: 70%;
    height: 100%;
}

.progressBar {
    width: 80%;
    display: inline-flex !important;
    height: 20% !important;
    border-radius: 1.25rem !important;
}

.progressLabel{
    padding-top: 6%;
    font-size: 30px;
    color: grey;
    font-weight: 200;
    margin-bottom: 1%;
    font-family: 'Roboto';
}

.download button{
    background: #343a40;
    border-color: #343a40;
    float: right;
    box-shadow: 0px 10px 10px rgb(0,0,0,0.3);
    border-radius: 10px;
    position: relative;
    right: -4%;
}

.download button:hover{
    background: #343a40 !important;
    border-color: #343a40 !important; 
    box-shadow: 0px 10px 10px rgb(0,0,0,0.3) !important;
}

#download-button.button:active:focus{
    background: #343a40 !important;
    border-color: #343a40 !important;
    box-shadow: 0px 10px 10px rgb(0,0,0,0.3) !important;
}
.download button:active{
    background: #343a40 !important;
    border-color: #343a40 !important;
    box-shadow: 0px 10px 10px rgb(0,0,0,0.3) !important;
}

.download button:focus{
    box-shadow: 0px 10px 10px rgb(0,0,0,0.3);
    background: #343a40 !important;
    border-color: #343a40 !important;
}
