.uploadForm input, .uploadForm label {
    display: block; 
    margin-left: auto;
    margin-right: auto; 

}

.dropzone {
    height: 200px; 
    width: 100%;
    background-color: #cccccc;
    border: 1px dashed #555555;

}

.chooseFile {
    font-weight: bold;
}

.chooseFile:hover {
    color: #ffffff;

}