.catPreview {
    margin: 60px;
    background-color: white;
    width: 250px;
    height: 250px;
    display: block;
    border-radius: 12%;
    box-shadow: 5px 5px 15px rgb(0,0,0,0.9);
    transition: 0.5s ease;
}

.catPreview:hover {
    transform: scale(1.05);
    box-shadow: 5px 5px 15px rgba(0,0,0,0.6);
}




img{
    margin-top: 50px;
}

.caption{
    color: black;
    font-family: monospace;
    font-size: 20px;
    font-weight: 700;
    text-transform: uppercase;
    margin-top: 15px;
    display: block;
}
