.wrapper {
    height: 100%;
}

.overview {
    width: 100%;
}

.contentWrapper {
    height: 100%;
    width: 100%;
    display: flex;
    flex-wrap: wrap;
    list-style-type: none;
}

.content {
    height: 100%;
    width: 100%;
    margin: 30px;
    display: flex;
    flex-wrap: wrap;
    list-style-type: none;
}

.categories {
    height: 100px;
    width: 100px;
}

.overview h2 {
    font-family: monospace;
    font-size: 40px;
    padding-top: 50px;
}

a {
    text-decoration: none;
}

.column{
    max-width: 20% !important;
    margin-top: 15px;
    margin-bottom: 15px;
}

.catContent {
    height: 100%;
    width: 100%;
    display: flex;
    flex-wrap: wrap;
}