.wrapper {
  height: 100%;
}

.Spinner {
  align-self: center;
  margin-bottom: 10px;
}

.Flex {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
  width: 100%;
}

.overview a {
    text-decoration: none !important;
}

/* .contentWrapper {
    height: 100%;
    width: 100%;
    display: flex;
    flex-wrap: wrap;
    list-style-type: none;
}

.content {
    height: 100%;
    width: 100%;
    margin-top: 30px;
    display: flex;
    flex-wrap: wrap;
    list-style-type: none;
}


.overview h2 {
    font-family: monospace;
    font-size: 40px;
    padding-top: 50px;
}



.column{
    max-width: 20% !important;
    margin-top: 15px;
    margin-bottom: 15px;
}

.catContent {
    height: 100%;
    width: 100%;
    display: flex;
    flex-wrap: wrap;
} */
