body {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  overflow-x: hidden; /* Hide horizontal scrollbar */
}

.App {
  text-align: center;
  height: 100vh;
  width: 100vw;
  background-color: #f4f4f4;

}

.App nav {
  background-color: #001628!important;
}