@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@100;400&family=Source+Sans+Pro&family=Ubuntu:wght@700&display=swap');
body {
  margin: 0;
  font-family: 'Source Sans Pro', sans-serif;
}
code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

main {
  max-width: 1200px;

  margin: 56px 2vw 10px 2vw;
  padding-left: 10px; 
  padding-right: 10px;
  margin-left: auto;
  margin-right: auto;
}

@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@100&display=swap'); 


h2, h3, h4 {
  font-family: 'Ubuntu', sans-serif;
}


h1 {
  font-family: 'Roboto';
}

main > h1 {
  margin: 0;
  font-size: 7vh;
  padding: 1rem 0 0 0;
  /* font-family: 'Roboto', sans-serif; */
}